
	<!--main box part-->
	<div class="mobilesss-box">
	<div class="mobiles-box">
		<div class="grid images_3_of_2">

						<img src="images/31.jpg" alt="">
			</div>
					<div class="desc span_3_of_2">
					<h2>Lorem Ipsum is simply dummy text </h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
					<div class="price">
						<p>Price: <span>$698.03</span></p>
					</div>


				<div class="simpleCart_shelfItem">

									<form action="#" method="post">
										<button type="submit" class="w3ls-cart"><a href="compare.html"> Compare</a></button>
										<button type="submit" class="w3ls-cart">Review</button>
										<button type="submit" class="w3ls-cart">Pictures</button>
									</form>
								</div>
			</div>
	</div>
			<div class="mobiless-box">
		<table>
		  <tr>
		    <td>Screen Size</td>
		    <td></td>
		  </tr>
		  <tr>
		    <td>Resolution</td>
		    <td></td>
		  </tr>

		  <tr>
		    <td>OS</td>
		    <td></td>
		  </tr>

		  <tr>
		    <td>CPU</td>
		    <td></td>
		  </tr>

		  <tr>
		    <td>Storage</td>
		    <td></td>
		  </tr>

		  <tr>
		    <td>RAM</td>
		    <td></td>
		  </tr>

		  <tr>
		    <td>Front Camera</td>
		    <td></td>
		  </tr>

		  <tr>
		    <td>Rear Camera</td>
		    <td></td>
		  </tr>

		  <tr>
		    <td>Wifi</td>
		    <td></td>
		  </tr>

		  <tr>
		    <td>Battery</td>
		    <td></td>
		  </tr>

		  <tr>
		    <td>Price</td>
		    <td></td>
		  </tr>


		</table>
		</div>

	</div>

<div class="newsletter">

	</div>
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">

				<div class="col-md-3 w3_footer_grid">
					<h3>Information</h3>
					<ul class="info">
						<li><a href="about.html">About Us</a></li>
						<li><a href="mail.html">Contact Us</a></li>

					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Category</h3>
					<ul class="info">
						<li><a href="products.html">Mobiles</a></li>
						<li><a href="products1.html">Laptops</a></li>
						<li><a href="products.html">Tablet</a></li>
						<li><a href="products1.html">Camera</a></li>
						<li><a href="products2.html">Television</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Profile</h3>
					<ul class="info">
						<li><a href="index.html">Home</a></li>

					</ul>

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-copy">
			<div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#home1" class="scroll"><img src="static/image/arrow.png" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			<div class="container">
				<p>&copy; 2018 Avail. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo2").flexisel({
				visibleItems:4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint:568,
						visibleItems: 1
					},
					landscape: {
						changePoint:667,
						visibleItems:2
					},
					tablet: {
						changePoint:768,
						visibleItems: 3
					}
				}
			});

		});
	</script>
	<script type="text/javascript" src="/static/js/jquery.flexisel.js"></script>
	<!-- cart-js -->
	<script src="static/js/minicart.js"></script>



