<!DOCTYPE html>
<html>
<head>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/style1.css">
	<link rel="stylesheet" type="text/css" href="/static/slide.css">
	<link rel="stylesheet" type="text/css" href="/static/button.css">
	<link rel="stylesheet" type="text/css" href="/static/samsung.css">


</head>
<body>

	<a href="signin.html"></a>
	<a href="about.html"></a>
	<a href="register.html"></a>
  <div class="main">
     <ul>
	     	<li><a href="indxe.html"><i class="fas fa-home fa-fw"></i>Home</a></li>
	        <li><a href="about.html"><i class="fas fa-font fa-fw"></i> About Us</a></li>
	        <li><a href="#"><i class="fas fa-balance-scale fa-fw"></i> Compare</a>

	        </li>
	        <li><a href="#"><i class="fas fa-clipboard fa-fw"></i> Categories</a>

	        </li>
	        <li><a href="signin.html"><i class="fas fa-user fa-fw"></i> Sign in</a>
	        </li>
	        <li><a href="register.html"><i class="fas fa-book fa-fw"></i> Register</a>
	        </li>
	        <form class="search-form">

	           <input type="text" placeholder="Search ">
	           <button> Search </button>

	        </form>
     	</ul>
 	 </div>
 	    <div class="hello">


		 <div class="row">
		 <div class="column">

				<li><a href="samsung_galaxy_s_light_luxury-9202.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-s-light-luxury.jpg" title="Samsung Galaxy S Light Luxury Android smartphone. Announced May 2018. Features 5.8″ Super AMOLED display, Snapdragon 660 chipset, 16 MP primary camera, 8 MP front camera, 3000 mAh battery, 64 GB storage, 4 GB RAM, IP68 certified."><strong><span>Galaxy S Light Luxury</span></strong></a></li>
				</div>
<div class="column">
				<li><a href="samsung_galaxy_j8-9205.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-j8-j800.jpg" title="Samsung Galaxy J8 Android smartphone. Announced May 2018. Features 6.0″ Super AMOLED display, Snapdragon 450 chipset, Dual: 16 MP (f/1.7) + 5 MP primary camera, 16 MP front camera, 3500 mAh battery, 64 GB storage, 4 GB RAM."><strong><span ">Galaxy J8</span></strong></a></li>
				</div>

<div class="column">
				<li><a href="samsung_galaxy_j6-9203.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-j6-j600.jpg" title="Samsung Galaxy J6 Android smartphone. Announced May 2018. Features 5.6″ Super AMOLED display, Exynos 7870 Octa chipset, 13 MP primary camera, 8 MP front camera, 3000 mAh battery, 64 GB storage, 4 GB RAM."><strong><span>Galaxy J6</span></strong></a></li>
				</div>
		<div class="column">

				<li><a href="samsung_galaxy_j4-9204.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-j4-j400.jpg" title="Samsung Galaxy J4 Android smartphone. Announced May 2018. Features 5.5″ Super AMOLED display, Exynos 7570 Quad chipset, 13 MP primary camera, 5 MP front camera, 3000 mAh battery, 16 GB storage, 2 GB RAM."><strong><span>Galaxy J4</span></strong></a></li>
				</div>
			<div class="column">

				<li><a href="samsung_galaxy_a6+_(2018)-9156.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-a6-plus-2018-.jpg" title="Samsung Galaxy A6+ (2018) Android smartphone. Announced May 2018. Features 6.0″ Super AMOLED display, Snapdragon 450 chipset, Dual: 16 MP (f/1.7) + 5 MP primary camera, 24 MP front camera, 3500 mAh battery, 64 GB storage, 4 GB RAM."><strong><span>Galaxy A6+ (2018)</span></strong></a></li>
				</div>
			<div class="column">

				<li><a href="samsung_galaxy_a6_(2018)-9155.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-a6-2018-.jpg" title="Samsung Galaxy A6 (2018) Android smartphone. Announced May 2018. Features 5.6″ Super AMOLED display, Exynos 7870 Octa chipset, 16 MP primary camera, 16 MP front camera, 3000 mAh battery, 64 GB storage, 4 GB RAM."><strong><span>Galaxy A6 (2018)</span></strong></a></li>
				</div>
		<div class="column">

				<li><a href="samsung_galaxy_j7_duo-9153.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-j7-duo-sm-j720f.jpg" title="Samsung Galaxy J7 Duo Android smartphone. Announced Apr 2018. Features 5.5″ Super AMOLED display, Exynos 7885 Octa chipset, Dual: 13 MP (f/1.9) + 5 MP primary camera, 8 MP front camera, 3000 mAh battery, 32 GB storage, 4 GB RAM."><strong><span>Galaxy J7 Duo</span></strong></a></li>
				</div>
			<div class="column">

				<li><a href="samsung_galaxy_j7_prime_2-9135.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-j7-prime2.jpg" title="Samsung Galaxy J7 Prime 2 Android smartphone. Announced Mar 2018. Features 5.5″ PLS TFT display, Exynos 7870 Octa chipset, 13 MP primary camera, 13 MP front camera, 3300 mAh battery, 32 GB storage, 3 GB RAM, Corning Gorilla Glass (market dependent)."><strong><span>Galaxy J7 Prime 2</span></strong></a></li>
				</div>
			<div class="column">

				<li><a href="samsung_galaxy_s9+-8967.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-s9-plus-blue.jpg" title="Samsung Galaxy S9+ Android smartphone. Announced Feb 2018. Features 6.2″ Super AMOLED display, Exynos 9810 Octa chipset, Dual: 12 MP (f/1.5-2.4, 26mm, 1/2.55″, 1.4µm, Dual Pixel PDAF) + 12MP primary camera, 8 MP front camera, 3500 mAh battery, 256 GB storage, 6 GB RAM, IP68 certified, Corning Gorilla Glass 5."><strong><span>Galaxy S9+</span></strong></a></li>
				</div>
			<div class="column">

				<li><a href="samsung_galaxy_s9-8966.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-s9-.jpg" title="Samsung Galaxy S9 Android smartphone. Announced Feb 2018. Features 5.8″ Super AMOLED display, Exynos 9810 Octa chipset, 12 MP primary camera, 8 MP front camera, 3000 mAh battery, 256 GB storage, 4 GB RAM, IP68 certified, Corning Gorilla Glass 5."><strong><span>Galaxy S9</span></strong></a></li>
			</div>
		<div class="column">

				<li><a href="samsung_galaxy_j2_pro_(2018)-8904.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-j2-2018-sm-j250-.jpg" title="Samsung Galaxy J2 Pro (2018) Android smartphone. Announced Jan 2018. Features 5.0″ Super AMOLED display, Snapdragon 425 chipset, 8 MP primary camera, 5 MP front camera, 2600 mAh battery, 16 GB storage, 2 GB RAM, Corning Gorilla Glass (unspecified version)."><strong><span>Galaxy J2 Pro (2018)</span></strong></a></li>
				</div>
			<div class="column">

				<li><a href="samsung_galaxy_a8+_(2018)-8790.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-a8-plus-a730f.jpg" title="Samsung Galaxy A8+ (2018) Android smartphone. Announced Dec 2017. Features 6.0″ Super AMOLED display, Exynos 7885 Octa chipset, 16 MP primary camera, Dual: 16 MP (f/1.9, 1/3.1”, 1.0µm) + 8 MP front camera, 3500 mAh battery, 64 GB storage, 6 GB RAM, IP68 certified, Corning Gorilla Glass (unspecified version)."><strong><span>Galaxy A8+ (2018)</span></strong></a></li>
			</div>
			<div class="column">

				<li><a href="samsung_galaxy_a8_(2018)-8886.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-a8-a530f.jpg" title="Samsung Galaxy A8 (2018) Android smartphone. Announced Dec 2017. Features 5.6″ Super AMOLED display, Exynos 7885 Octa chipset, 16 MP primary camera, Dual: 16 MP (f/1.9, 1/3.1”, 1.0µm) + 8 MP front camera, 3000 mAh battery, 64 GB storage, 4 GB RAM, IP68 certified, Corning Gorilla Glass (unspecified version)."><strong><span>Galaxy A8 (2018)</span></strong></a></li>
				</div>
				<div class="column">

				<li><a href="samsung_galaxy_j2_(2017)-8900.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-j2-2017-j200g.jpg" title="Samsung Galaxy J2 (2017) Android smartphone. Announced Oct 2017. Features 4.7″ Super AMOLED display, Exynos 3475 Quad chipset, 5 MP primary camera, 2 MP front camera, 2000 mAh battery, 8 GB storage, 1000 MB RAM."><strong><span>Galaxy J2 (2017)</span></strong></a></li>
				</div>
				<div class="column">


				<li><a href="samsung_galaxy_tab_active_2-8897.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-tab-active2.jpg" title="Samsung Galaxy Tab Active 2 Android tablet. Announced Oct 2017. Features 8.0″ LCD display, Exynos 7870 Octa chipset, 8 MP primary camera, 5 MP front camera, 4450 mAh battery, 16 GB storage, 3 GB RAM, MIL-STD-810G compliant."><strong><span>Galaxy Tab Active 2</span></strong></a></li>
				</div>

			<div class="column">
			<li><a href="samsung_galaxy_tab_a_8_0_(2017)-8725.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-tab-a-8-0-2017-t385-sm-t385.jpg" title="Samsung Galaxy Tab A 8.0 (2017) Android tablet. Announced Sep 2017. Features 8.0″ IPS LCD display, Snapdragon 425 chipset, 8 MP primary camera, 5 MP front camera, 5000 mAh battery, 16 GB storage, 2 GB RAM."><strong><span>Galaxy Tab A 8.0 (2017)</span></strong></a></li>
			</div>

			<div class="column">
			<li><a href="samsung_galaxy_c7_(2017)-8789.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-c7-2017.jpg" title="Samsung Galaxy C7 (2017) Android smartphone. Announced Sep 2017. Features 5.5″ Super AMOLED display, Dual: 13 MP (f/1.7, AF) + 5 MP primary camera, 16 MP front camera, 3000 mAh battery, 32 GB storage, 4 GB RAM."><strong><span>Galaxy C7 (2017)</span></strong></a></li>
			</div>



			<div class="column">
			<li><a href="samsung_galaxy_note8-8505.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-note-8-sm-n950.jpg" title="Samsung Galaxy Note8 Android smartphone. Announced Aug 2017. Features 6.3″ Super AMOLED display, Exynos 8895 Octa chipset, Dual: 12 MP (f/1.7, 26mm, 1/2.5″, 1.4µm, Dual Pixel PDAF) + 12MP primary camera, 8 MP front camera, 3300 mAh battery, 256 GB storage, 6 GB RAM, IP68 certified, Corning Gorilla Glass 5."><strong><span>Galaxy Note8</span></strong></a></li>

			</div>

			<div class="column">
			<li><a href="samsung_galaxy_s8_active-8676.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-s8-active.jpg" title="Samsung Galaxy S8 Active Android smartphone. Announced Aug 2017. Features 5.8″ Super AMOLED display, Snapdragon 835 chipset, 12 MP primary camera, 8 MP front camera, 4000 mAh battery, 64 GB storage, 4 GB RAM, MIL-STD-810G compliant, Corning Gorilla Glass 5."><strong><span>Galaxy S8 Active</span></strong></a></li>
			</div>

			<div class="column">
			<li><a href="samsung_galaxy_j7_v-8778.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-j7-v-2017.jpg" title="Samsung Galaxy J7 V Android smartphone. Announced Mar 2017. Features 5.5″ IPS LCD display, Snapdragon 625 chipset, 8 MP primary camera, 5 MP front camera, 3300 mAh battery, 16 GB storage, 2 GB RAM."><strong><span>Galaxy J7 V</span></strong></a></li>
			</div>

			<div class="column">
			<li><a href="samsung_galaxy_note_fe-8683.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-note-fe1.jpg" title="Samsung Galaxy Note FE Android smartphone. Announced Jul 2017. Features 5.7″ Super AMOLED display, Exynos 8890 Octa chipset, 12 MP primary camera, 5 MP front camera, 3200 mAh battery, 64 GB storage, 4 GB RAM, IP68 certified, Corning Gorilla Glass 5."><strong><span>Galaxy Note FE</span></strong></a></li>
			</div>
			<div class="column">
			<li><a href="samsung_galaxy_j7_max-8684.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-j7-max.jpg" title="Samsung Galaxy J7 Max Android smartphone. Announced Jun 2017. Features 5.7″ PLS display, MT6757 Helio P20 chipset, 13 MP primary camera, 13 MP front camera, 3300 mAh battery, 32 GB storage, 4 GB RAM."><strong><span>Galaxy J7 Max</span></strong></a></li>
			</div>
			<div class="column">
			<li><a href="samsung_galaxy_j7_pro-8561.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-j7-pro.jpg" title="Samsung Galaxy J7 Pro Android smartphone. Announced Jun 2017. Features 5.5″ Super AMOLED display, Exynos 7870 Octa chipset, 13 MP primary camera, 13 MP front camera, 3600 mAh battery, 64 GB storage, 3 GB RAM."><strong><span>Galaxy J7 Pro</span></strong></a></li>
			</div>
			<div class="column">
			<li><a href="samsung_galaxy_j7_(2017)-8675.php"><img src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-j7-2017-sm-j730f.jpg" title="Samsung Galaxy J7 (2017) Android smartphone. Announced Jun 2017. Features 5.5″ Super AMOLED display, Exynos 7870 Octa chipset, 13 MP primary camera, 13 MP front camera, 3600 mAh battery, 16 GB storage, 3 GB RAM."><strong><span>Galaxy J7 (2017)</span></strong></a></li>
			</div>

		  </div>
		</div>
 </body>
 </html>